
.body {
    background-color: white;
}
.hero-bike {
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
}

.heading {
    margin-top: 2%;
    color: #60A442;
}
.curios-line {
  width: 70%;
  color: #000000;
}

.main-cards {
  margin-top: 3%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.main-cards-1,
.main-cards-2,
.main-cards-3 {
  width: 30%;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 2%;
  box-sizing: border-box;
}

.main-cards-heading {
  font-size: 20px;
  margin-bottom: 10px;
  color: #60A442;
  margin-top: 5%;
}

.main-cards-text {
  color: #282828;
  font-size: 15px;
  line-height: 1.4;
  margin-top: 10%;
}

.six-cards-main {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.six-cards-main-2 {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;   
}
.six-cards-1, .six-cards-2, .six-cards-3 {
    min-height: 100px;
    background-color: #F2F2F2;
    width: 32%;
    padding: 3% 2% 0% 2%;
    border-radius: 10px;
}

.six-cards-heading {
    color: #60A442;
    font-size: 20px;
}
.six-cards-text {
    color: #282828;
    font-size: 15px;
    padding-top: 5%;
}
.gps-dashboard-div {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.gps-dashboard-content {
    display: flex;
    justify-content: space-between;
}
.gps-dashboard-img {
    width: 30%;
    height: fit-content;
}
.gps-dashboard-cards-main {
    width: 65%;
}
.gps-dashboard-cards-main-1 {
    display: flex;
    justify-content: space-between;
}
.gps-tracking-dashboard-heading {
    color: #60A442;
}
.gps-tracking-card-1-start {
    width: 42%;
    background-color: #F2F2F2;
    min-height: 100px;
    border-radius: 10px;
    padding: 4% 3% 2% 3%;
}
.gps-tracking-card-1 {
    width: 42%;
    background-color: #F2F2F2;
    min-height: 100px;
    border-radius: 10px;
    margin-top: 3%;
    padding: 4% 3% 2% 3%;
}
.gps-tracking-card-2-start {
    width: 55%;
    background-color: #F2F2F2;
    min-height: 100px;
    padding: 5% 3% 2% 3%;
}
.gps-tracking-card-2 {
    width: 55%;
    background-color: #F2F2F2;
    min-height: 100px;
    padding: 4% 3% 2% 3%;
    margin-top: 3%;
    border-radius: 10px;
}
.gps-tracking-card-1-heading {
    color: #60A442;
    font-size: 20px;
    padding-bottom: 4%;
    margin-top: 2%;
}
.gps-tracking-card-1-text {
    color: #282828;
    font-size: 15px;
}
.gps-tracking-card-2-heading {
    color: #60A442;
    font-size: 20px;
    padding-bottom: 2%;
}
.gps-tracking-card-2-text {
    color: #282828;
    font-size: 15px;
}
.gps-know-more-btn {
    margin-top: 3%;
    background-color: #60A442;
    color: white;
    border-radius: 20px;
    padding: 1% 2% 1% 2%;
    stroke: none;
    border: none;
}
.gps-know-more-btn:hover {
    margin-top: 3%;
    background-color: white;
    color: #60A442;
    border-radius: 20px;
    padding: 1% 2% 1% 2%;
    stroke: none;
    border: none;
    box-shadow: inset 0 0 0 2px #60A442;
}
.points-card-main {
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.points-card-points-div {
    width: 50%;
}
.points-card-points-div-1-start {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.points-card-points-div-1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.logo-icon {
    width: 40px;
}
.gps-tracking-img {
    width: 42%;
}
.icon-background {
    background-color: #F2F2F2;
    padding: 2.5%;
    border-radius: 100px;
    height: 20%;
    width: 10%;
    margin-top: 2%;
}
.point-card-matter {
    width: 85%;
}
.point-card-heading {
    color: #60A442;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
.point-card-text {
    color: #282828;
    font-size: 15px;
    margin-top: 0.5%;
}

.footer{
    height: 200px;
    margin-bottom: 10%;
}
