.special-product-final-price {
    padding-top: 4%;
}
.special-product-final-price p {
    padding-bottom: 0px;
}
.special-options-css {
    background-color: #F8FEF2;
    padding: 1% 2% 4% 2%;
    border-radius: 10px;
    margin-top: 3%;
}
