.footer h5 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: lightgreen !important;
}

.footer ul li {
  padding: 4px 0;
}

.footer ul li a {
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .footer h5 {
    font-size: 1.1rem;
  }

  .footer ul li {
    padding: 2px 0;
  }

  .footer iframe {
    height: 100px !important;
  }
}


.footer-bottom {
  font-size: 0.875rem;
  color: #aaa;
}
.footer-bottom a {
  color: #90ee90; /* light green or choose brand color */
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
